---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">
  {% if site.post_type == 'highlight' %}

    {% for post in site.posts %}
    {% if post.highlight %}

    <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}></header>

      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          <h4>{{ post.title }}</h4>
          <p>{{ post.excerpt }}</p>
        </div>
        <div class="mdl-card__actions">
            Server 1:
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="post-{{post.id}}">
              <a href="{{post.url}}"<i class="material-icons">play_arrow</i></a>
            </button>
            Server 2:
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="post-{{post.id}}">
              <a href="{{post.url}}"<i class="material-icons">play_arrow</i></a>
            </button>

        </div>
      </div>


    </div>

    {% else %}

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__title" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}>
        <h2 class="mdl-card__title-text">{{ post.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{ post.excerpt }}</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
          Server 1:
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="post-{{post.id}}">
            <a href="{{post.url}}"<i class="material-icons">play_arrow</i></a>
          </button>
          Server 2:
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="post-{{post.id}}">
            <a href="{{ post.url }}"<i class="material-icons">play_arrow</i></a>
          </button>

      </div>
      <div class="mdl-card__menu">


      </div>
    </div>
    {% endif %}
    {% endfor %}

  {% else %}

    {% for post in site.posts %}

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet  mdl-cell--12-col-phone">
      <div class="mdl-card__title" {% if post.image %} style="background: url('{{ post.image }}') center/cover;" {% endif %}>
        <h2 class="mdl-card__title-text">{{ post.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{ post.excerpt }}</p>
      </div>

      <div class="mdl-card__actions mdl-card--border">
          Server 1:
          <a href="{{post.main}}">
              <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="post-{{post.id}}">
                <i class="material-icons">play_arrow</i>
              </button>
          </a>
          Server 2:
          <a href="{{post.mirror}}">
              <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="post-{{post.id}}">
                <i class="material-icons">play_arrow</i>
              </button>
          </a>
      </div>

    </div>

    {% endfor %}

  {% endif %}
  </div>
</div>
